.menu-icon {
	z-index: 3;
	margin: 20px;
	color: orangered;
	color: #A7233A;
	font-size: 70px;
	font-size: 4.375rem;
	cursor: pointer;
	transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
					font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-icon:hover {
	color: #A7233A;
	color: rgb(255, 255, 255);
	color: rgb(212, 61, 86);
	font-size: 4.5rem;
}

.show-header {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	color: #A7233A;
	background-color: #001220;
	/* border-bottom-left-radius: 33%; */
	opacity: 0.95;
	transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	overflow: hidden;
}

.hide-header {
	position: fixed;
	top: 0;
	right: -35px;
	height: 100vh;
	width: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
ul li {
	/* color: white; */
	list-style: none;
	margin-top: 25px;
	margin-top: 1.5625em;
}

ul a {
	padding-bottom: .5em;
	font-size: 1.667rem;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	color: rgba(167, 35, 57, 0.9);
	text-decoration: none;
	transition: color 0.5s ease-in-out,
					border 0.5s ease-in-out;
}

/* ul a:hover {
	color: blue;
	border-bottom: 2px solid blue;
} */

/* .active {
	border: 3px solid cyan;
	border: 2px solid rgba(167, 35, 58, 1);
	padding: 5px 13px;
	border-radius: 5px;
}
.active a {
	font-weight: bold;
	color: cyan;
	color: rgba(167, 35, 58, 1);
} */

.contact {
	padding-top: 50px;
}
.contact img {
	height: 50vh;
	width: 100%;
}

input,
textarea {
	margin-top: 25px;
	border: none !important;
	background-color: #ebecf0 !important;
	background: #ebecf0;
	box-shadow: 5px 5px 0px #cacbce, -5px -5px 0px #ffffff !important;
	border-radius: 20px !important;
}
.form-control:focus {
	transform: scale(1.02);
}
.form-control {
	box-shadow: none;
}
.contact button {
	background-color: rgba(0, 0, 255, 0.856);
	color: white;
	font-weight: bold;
}

.footer-content {
	background-color: #001220;
	text-align: center;
	color: #fff;
}

.footer-icons svg {
	color: white;
}
.footer-icons:hover {
	color: cyan;
	transform: scale(1.5);
	cursor: pointer;
}
@media (max-width: 750px) {
	.show-header {
		color: white;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		right: 0;
		background-color: #001220;
		opacity: 0.95;
		height: 100vh;
		width: 100%;
		transition: width 0.5s;
		overflow: hidden;
		border-bottom-left-radius: 50%;
		border-top-left-radius: 50%;
		border-left: 5px solid rgba(255, 255, 255, 0.445);
		z-index: 2;
	}
	.hide-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;
		text-decoration: none;
		overflow: hidden;
		position: fixed;
		top: 0;
		right: 0;
		height: 0;
		width: 0;
		transition: all 0s;
	}
	.menu-icon {
		color: orangered;
		color: #A7233A;
		font-size: 45px;
	}
	.contact {
		margin-top: 0 !important;
		padding: 0 !important;
	}
	.contact-form {
		padding: 15px !important;
		margin: 15px;
	}
}
